body{
    position: fixed;
    top : 5%;
    left: 40%;
}

.calculator{
    border: 1px solid black;
    box-sizing: border-box;
    height: 280px;
    padding: 20px 3px 20px 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.6);
}
input {
    width: 150px;
    height: 30px;
    background-color: lightgrey;
}

button {
    border-width: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 100px;
    /* padding: 5px; */
    text-align: center;
    font-size: small;
}

button:hover {
    background-color: rgb(71, 138, 138);
}